---
import MetaTags from "@/components/MetaTags.astro";
import HomeLayout from "@/layouts/HomeLayout.astro";
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import dayjs from "dayjs";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft !== true : true;
  });
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
const ogImage = new URL(`${Astro.url.origin}/api/og.png`);
ogImage.searchParams.set("title", post.data.title);
---

<HomeLayout>
  <MetaTags
    title={post.data.title}
    description={post.data.description}
    keywords={post.data.tags}
    slot="head"
  />

  <main class="container mx-auto my-8 max-w-screen-md px-4 md:px-8">
    <article>
      <div class="space-y-2">
        <div class="flex flex-wrap gap-2 text-muted-foreground">
          <time
            class="flex items-center gap-2"
            datetime={post.data.publishDate.toDateString()}
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="inline h-4 w-4"
            >
              <>
                <path d="M8 2v4"></path>
                <path d="M16 2v4"></path>
                <rect width="18" height="18" x="3" y="4" rx="2"></rect>
                <path d="M3 10h18"></path>
              </>
            </svg>
            <span>{dayjs(post.data.publishDate).format("MMM D, YYYY")}</span>
          </time>
          •
          <p>
            {remarkPluginFrontmatter.minutesRead}
          </p>
        </div>
        <h1 class="text-2xl font-bold">{post.data.title}</h1>
        <!-- <p class="leading-6 text-muted-foreground">
          {post.data.description}
        </p> -->
      </div>
      <!-- <div class="-mx-4 my-4">
        <Image
          src={post.data.image.src}
          alt={post.data.image.alt ?? post.data.title}
          width={1920}
          height={1080}
          class="aspect-video w-full object-cover md:rounded-lg"
        />
      </div> -->
      <div
        class="prose mt-8 min-w-0 max-w-none dark:prose-invert prose-pre:-mx-4 prose-pre:bg-muted dark:prose-pre:bg-muted max-md:prose-pre:rounded-none"
      >
        <Content />
      </div>
    </article>
  </main>
</HomeLayout>
